[Dd]ebug/
72hr.Data/bin/Debug/72hr.Data.dll
72hr.Data/bin/Debug/72hr.Data.pdb
72hr.Data/obj/Debug/72hr.Data.csprojAssemblyReference.cache
72hr.Data/obj/Debug/72hr.Data.dll
72hr.Data/obj/Debug/72hr.Data.pdb
72hr.Models/bin/Debug/72hr.Models.dll
72hr.Models/bin/Debug/72hr.Models.pdb
72hr.Models/obj/Debug/72hr.Models.csproj.CoreCompileInputs.cache
72hr.Models/obj/Debug/72hr.Models.csprojAssemblyReference.cache
72hr.Models/obj/Debug/72hr.Models.dll
72hr.Models/obj/Debug/72hr.Models.pdb
72hr.Services/bin/Debug/72hr.Data.dll
72hr.Services/bin/Debug/72hr.Data.pdb
72hr.Services/bin/Debug/72hr.Models.dll
72hr.Services/bin/Debug/72hr.Models.pdb
72hr.Services/bin/Debug/72hr.Services.dll
72hr.Services/bin/Debug/72hr.Services.pdb
72hr.Services/obj/Debug/72hr.Services.csproj.CoreCompileInputs.cache
72hr.Services/obj/Debug/72hr.Services.csproj.FileListAbsolute.txt
72hr.Services/obj/Debug/72hr.Services.csprojAssemblyReference.cache
72hr.Services/obj/Debug/72hr.Services.dll
72hr.Services/obj/Debug/72hr.Services.pdb
72hr.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
72hr/.vs/72hr/v16/.suo
72hr/72hr.WebAPI.csproj.user